In [1]:
%cd "C:/users/prashant/desktop"

C:\users\prashant\desktop

In [2]:
import pandas as pd
import quandl
import numpy as np
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn

In [3]:
with open(r'C:\users\prashant\desktop\API.txt','r')as f: auth_token=f.read()

In [4]:
df=quandl.get('EOD/AAPL',authtoken = auth_token)

In [5]:
df=pd.read_csv('C:/users/prashant/desktop/EOD-AAPL.csv')

In [6]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0
1,2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0
2,2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0
3,2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0
4,2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0
1086,2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
1087,2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
1088,2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
1089,2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0

In [7]:
df.shape

(1090, 13)

In [8]:
df['HL_PCT']=(df['Adj_High'])-(df['Adj_Low'])/df['Adj_Close']*100

In [9]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT
0,2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0,-58.307833
1,2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0,-58.394265
2,2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0,-58.227595
3,2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0,-57.507347
4,2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0,-57.135411
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,-83.379463
1086,2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,-82.521513
1087,2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,-83.811129
1088,2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,-83.607362
1089,2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,-83.891027

In [10]:
df['PCT_change']=(df['Adj_Close'])-df['Adj_Open']/df['Adj_Open']*100

In [11]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
0,2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0,-58.307833,-58.843783
1,2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0,-58.394265,-58.959255
2,2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0,-58.227595,-58.966472
3,2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0,-57.507347,-57.898354
4,2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0,-57.135411,-57.898354
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,-83.379463,-83.966339
1086,2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,-82.521513,-84.218167
1087,2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,-83.811129,-84.311612
1088,2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,-83.607362,-84.203247
1089,2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,-83.891027,-84.523528

In [12]:
df1=df[['Adj_Close','HL_PCT','PCT_change','Adj_Volume']]

In [13]:
forecast_col='Adj_Close'

In [14]:
df.fillna(-9999,inplace=True)

In [15]:
forecast_out=int(math.ceil(0.1*len(df)))

In [16]:
df['label']=df[forecast_col].shift(-forecast_out)

In [17]:
df.dropna(inplace=True)

In [18]:
df

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change,label
0,2017-12-28,171.00,171.8500,170.480,171.08,16480187.0,0.0,1.0,41.136972,41.341454,41.011877,41.156217,65920748.0,-58.307833,-58.843783,36.464260
1,2017-12-27,170.10,170.7800,169.710,170.60,21498213.0,0.0,1.0,40.920461,41.084047,40.826640,41.040745,85992852.0,-58.394265,-58.959255,36.309083
2,2017-12-26,170.80,171.4700,169.679,170.57,33185536.0,0.0,1.0,41.088858,41.250038,40.819183,41.033528,132742144.0,-58.227595,-58.966472,35.874586
3,2017-12-22,174.68,175.4240,174.500,175.01,16349444.0,0.0,1.0,42.022259,42.201241,41.978957,42.101646,65397776.0,-57.507347,-57.898354,35.891298
4,2017-12-21,174.17,176.0200,174.100,175.01,20949896.0,0.0,1.0,41.899570,42.344619,41.882730,42.101646,83799584.0,-57.135411,-57.898354,36.053637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,2014-02-13,534.66,544.8500,534.200,544.43,10978500.0,0.0,1.0,17.136663,17.463268,17.121919,17.449806,307398000.0,-80.657703,-82.550194,16.033661
977,2014-02-12,536.95,539.5600,533.240,535.92,11003600.0,0.0,1.0,17.210061,17.293715,17.091150,17.177048,308100800.0,-82.206210,-82.822952,15.781833
978,2014-02-11,530.61,537.7500,529.500,535.96,10080600.0,0.0,1.0,17.006854,17.235702,16.971277,17.178330,282256800.0,-81.558984,-82.821670,15.688388
979,2014-02-10,518.66,531.9900,518.000,528.99,12341400.0,0.0,1.0,16.623839,17.051085,16.602685,16.954931,345559200.0,-80.871371,-83.045069,15.796753
980,2014-02-07,521.38,522.9299,517.380,519.68,13224300.0,0.0,1.0,16.711019,16.760695,16.582813,16.656531,370280400.0,-82.796725,-83.343469,15.476472

In [21]:
df.sort_values

<bound method DataFrame.sort_values of            Date    Open      High      Low   Close      Volume  Dividend  \
0    2017-12-28  171.00  171.8500  170.480  171.08  16480187.0       0.0
1    2017-12-27  170.10  170.7800  169.710  170.60  21498213.0       0.0
2    2017-12-26  170.80  171.4700  169.679  170.57  33185536.0       0.0
3    2017-12-22  174.68  175.4240  174.500  175.01  16349444.0       0.0
4    2017-12-21  174.17  176.0200  174.100  175.01  20949896.0       0.0
..          ...     ...       ...      ...     ...         ...       ...
976  2014-02-13  534.66  544.8500  534.200  544.43  10978500.0       0.0
977  2014-02-12  536.95  539.5600  533.240  535.92  11003600.0       0.0
978  2014-02-11  530.61  537.7500  529.500  535.96  10080600.0       0.0
979  2014-02-10  518.66  531.9900  518.000  528.99  12341400.0       0.0
980  2014-02-07  521.38  522.9299  517.380  519.68  13224300.0       0.0

     Split   Adj_Open   Adj_High    Adj_Low  Adj_Close   Adj_Volume  \
0      1.0  41.136972  41.341454  41.011877  41.156217   65920748.0
1      1.0  40.920461  41.084047  40.826640  41.040745   85992852.0
2      1.0  41.088858  41.250038  40.819183  41.033528  132742144.0
3      1.0  42.022259  42.201241  41.978957  42.101646   65397776.0
4      1.0  41.899570  42.344619  41.882730  42.101646   83799584.0
..     ...        ...        ...        ...        ...          ...
976    1.0  17.136663  17.463268  17.121919  17.449806  307398000.0
977    1.0  17.210061  17.293715  17.091150  17.177048  308100800.0
978    1.0  17.006854  17.235702  16.971277  17.178330  282256800.0
979    1.0  16.623839  17.051085  16.602685  16.954931  345559200.0
980    1.0  16.711019  16.760695  16.582813  16.656531  370280400.0

        HL_PCT  PCT_change      label
0   -58.307833  -58.843783  36.464260
1   -58.394265  -58.959255  36.309083
2   -58.227595  -58.966472  35.874586
3   -57.507347  -57.898354  35.891298
4   -57.135411  -57.898354  36.053637
..         ...         ...        ...
976 -80.657703  -82.550194  16.033661
977 -82.206210  -82.822952  15.781833
978 -81.558984  -82.821670  15.688388
979 -80.871371  -83.045069  15.796753
980 -82.796725  -83.343469  15.476472

[981 rows x 16 columns]>

In [22]:
X=np.array(df.drop(['label'],1))

In [23]:
X_forecast=X[-1:]

In [24]:
X=X[:-1]

In [25]:
y=np.array(df['label'])

In [26]:
y=y[:-1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

clf = LinearRegression()
clf.fit(X_train,y_train)

In [ ]:
confidence

In [ ]:
sklearn.metrics.mean_squared_error(y_test,clf.predict(X_test))